.header-container {
  display: grid;
  grid-template-columns: 10% 1fr 10%;

  overflow: hidden;

  width: 100vw;
  min-height: 50px;
  background: $main-color;
}

.header-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-button {
  $glow-color: #1a71b8;
  $text-color-1: #5487b4;   
  $text-color-2: white;
  
  width: auto;
  height: auto;
  padding: 10px 25px;

  color: $text-color-1;

  font-family: 'Consolas';
  text-align: center;
  background: rgba($color:  $glow-color, $alpha: 0.1);

  position: relative;
  display: inline-block;
  text-transform: uppercase;
  font-size: 14pt;
  overflow: hidden;
  border-radius: 30px;
    
  transition: 0.2s ease;

  &:hover {
    color: $text-color-2;
    background: $glow-color;
    box-shadow: 0 0 5px $glow-color, 0 0 7px $glow-color, 0 0 10px $glow-color; 

    cursor: pointer;
  }

  &:active {
    transform: scale(1.07);
  }
}

.edit-button:focus {outline:none;}
.edit-button::-moz-focus-inner {border:0;}