@import '~normalize.css';

$grid-gap: 15px;
$grid-col-amount: 4; 
$grid-row-amount: 2;
$grid-tile-amount: 5;

#root {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-rows: 5vh 1fr 5vh;
    grid-gap: $grid-gap;
}

@import './header';
@import './main/main';
@import './footer';

:export {
    tileAmount: $grid-tile-amount;
}